<%= link_to 'Add New Menu', new_menu_path %>

<% unless @menus.blank? %>
  <%= form_for :menu_block, url: menu_blocs_path do |f| %>
    <ul>
      <% @menus.each do |menu| %>
        <li>
          <%= menu.date %>
          <%= f.check_box menu.id %>
        </li>
      <% end %>
    </ul>
    <%= f.submit 'Send out menus' %>
  <% end %>

<% end %>
