<%= form_for @form, url: menus_path do |f| %>
  <%= f.label :date %>
  <%= f.date_field :date %>

  <%= f.label :options %>
  <div id='options'>
    <%= f.fields_for :options do |of| %>
      <%= render 'option', f: of %>
    <% end %>
    <%= link_to_add_association 'Add', f, :options, partial: 'option', force_non_association_create: true %>
  </div>

  <%= f.submit 'Create Menu' %>
<% end %>
